# This is a basic workflow to help you get started with Actions

name: Rebuild awesome aussie README.md

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - airtable
  pull_request:
  schedule:
    # Daily at midnight utc
    - cron: "0 0 * * *"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Install Dependencies
        run: npm install
      - name: Build README from Airtable
        run: npm run readme
        env:
          AIRTABLE_API_KEY: ${{secrets.AIRTABLE_API_KEY}}
          AIRTABLE_BASE_ID: ${{ secrets.AIRTABLE_BASE_ID }}

      # Remove unwanted items
      - name: Removing workflows and other items
        run: |
          rm -rf .github/workflows
          rm -rf issues
          rm -rf readme
          rm package.json
          rm package-lock.json
          rm .gitignore
          git config user.name "AdamXbot"
          git config user.email 'adamxbot@users.noreply.github.com'
          git add .
          msg="rebuilding readme from airtable for $(date)"
          git commit -m "$msg"
      # Create pull request of changes to main branch
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          branch: airtable-updates/patch
          delete-branch: true
          title: '[BUILD] Daily update readme from Airtable workflow'
          base: main
          author: AdamXbot <adamxbot@users.noreply.github.com>
          branch: main
          reviewers: AdamXweb